.DS_Store
bin
obj
.vs

out*.json
out*.yaml
out*.yml

# The TDD database file is large so do not push it to repo.
javaAbstractor/tdd/td_V2.db

# Ignore AI agents scartchpad files.
.agents/scratchpad/

# Ignore VS code files
.vscode
